@import 'tailwindcss';

@import 'flag-icons/css/flag-icons.min.css';

.card-shadow {
  transition:
    box-shadow 0.35s ease,
    transform 0.25s ease,
    filter 0.25s ease;
  box-shadow:
    0 4px 8px -3px rgba(34, 211, 238, 0.18),
    0 2px 4px -2px rgba(0, 0, 0, 0.6);
}

.card-shadow:hover {
  transform: translateY(-2px);
  box-shadow:
    0 10px 20px -6px rgba(0, 0, 0, 0.7),
    0 0 22px rgba(34, 211, 238, 0.35),
    0 14px 32px -8px rgba(34, 211, 238, 0.45),
    6px 10px 24px -12px rgba(34, 211, 238, 0.25),
    -6px 10px 24px -12px rgba(34, 211, 238, 0.25);
}


/* DARK SCROLLBAR (ZINC) */

.scrollbar-dark {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: #18181b #09090b;      /* thumb | track */
}

/* Chrome / Edge / Safari */
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 REAL */
  border-radius: 999px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  border: 2px solid transparent;
  transition: background 0.25s ease;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #27272a; /* zinc-800 */
}

.scrollbar-dark::-webkit-scrollbar-corner {
  background: #09090b;
}
