@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

/* --------- CARD ---------- */
.card-shadow {
  transition:
    transform 0.3s ease,
    filter 0.3 ease;
  box-shadow:
    0 6px 12px -6px rgba(0,0,0,0.6),
    0 2px 4px -2px rgba(0,0,0,0.8);
}

.card-shadow::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;

  background: linear-gradient(
    135deg,
    transparent 20%,
    var(--primary),
    var(--secondary),
    transparent 80%
  );

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity: 0.25;
  transition: opacity 0.3s ease;
}

.card-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 2px;
  inset: -50%;
  border-radius: inherit;

  background: radial-gradient(
    90deg,
    circle,
    var(--primary) 0%,
    transparent 60%
  );

  opacity: 0.06;
  filter: blur(60px);
  transition: all 0.4s ease;
}

.card-shadow:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow:
    0 12px 24px -8px rgba(0,0,0,0.8),
    0 0 12px var(--primary),
    0 0 24px var(--secondary);
}

.card-shadow:hover::before {
  opacity: 0.9;
}

.card-shadow:hover::after {
  opacity: 0.18;
  transform: scale(1.2);
  animation: energyFlow 2s linear infinite;
}

.neon-text {
  color: var(--primary);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
  text-shadow:
    0 0 6px var(--primary),
    0 0 16px var(--primary),
    0 0 32px var(--secondary);
}


/* DARK SCROLLBAR (ZINC) */

.scrollbar-dark {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: #18181b #09090b;      /* thumb | track */
}

/* Chrome / Edge / Safari */
.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 REAL */
  border-radius: 999px;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  border: 2px solid transparent;
  transition: background 0.25s ease;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #27272a; /* zinc-800 */
}

.scrollbar-dark::-webkit-scrollbar-corner {
  background: #09090b;
}


@keyframes energyFlow {
  0% { transform: translateX(0); }
  100% { transform: translateX(50%); }
}